@import 'fontello.css';

$black: #2c3e50;
html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: 'Fira Sans Extra Condensed', sans-serif;
  color: $black;
}

a, a:hover {
  color: $black;
}

#bg, #bgnoise {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#bg {
  $whiteFrom: #ecf0f1;
  background: $whiteFrom;
  background: -moz-radial-gradient(center, ellipse cover, $whiteFrom 48%, #dae0e4 100%);
  background: -webkit-radial-gradient(center, ellipse cover, $whiteFrom 48%, #dae0e4 100%);
  background: radial-gradient(ellipse at center, $whiteFrom 48%, #dae0e4 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ecf0f1', endColorstr='#dae0e4', GradientType=1); /* IE6-9 fallback on horizontal gradient */

  z-index: -100;
}

#bgnoise {
  background: url(../img/noise-min.png) 0 0 repeat;
  z-index: -1;
  animation: noise .0593s linear infinite;
}

@keyframes noise {
  from {
    background-position: 0px 0px;
  }
  to {
    background-position: 21763px 16549px;
  }
}

#flex {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100%;
}

#container {
  padding: 1rem;
}

#title {
  font-weight: normal;
  padding: 0;
  margin: 0;
  text-align: center;
  font-size: 8rem;
  margin-bottom: 1rem;
  perspective: 10rem;
  -webkit-perspective: 10rem;
  clear: both;
  #t-at, #t-dot {
    display: inline-block;
    font-size: inherit;
    transition: 1s;
    transform: rotateY(0);
    &.hidden {
      font-size: 0;
    }
  }
  #t-at.hidden {
    transform: rotateY(-90deg);
  }
  #t-dot.hidden {
    transform: rotateY(90deg);
  }
}

#social {
  display: flex;
  align-items: center;
  justify-content: center;
  perspective: 10rem;
  -webkit-perspective: 10rem;
}

.social-card {
  position: relative;
  cursor: pointer;
  width: 6rem;
  height: 6rem;
  padding: 1rem;
  margin: 1rem;
  line-height: 6rem;
  background: rgba(255, 255, 255, .3);
  text-align: center;
  box-shadow: 0 5px 20px rgba(0, 0, 0, .1);
  -webkit-transition: 1s cubic-bezier(0, 1.04, .82, .99);
  border-radius: 2px;
  &:hover {
    transform: translateZ(.5rem) !important;
    box-shadow: 0 10px 80px rgba(0, 0, 0, .2);
    background: rgba(255, 255, 255, .7);
  }
  a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  .logo {
    i {
      font-size: 6rem;
      &:before {
        margin: 0;
      }
    }
  }
  &:nth-child(1) {
    transform: rotateY(-3deg) rotateX(2deg);
  }
  &:nth-child(2) {
    transform: rotateY(-1.5deg) rotateX(2deg);
  }
  &:nth-child(4) {
    transform: rotateY(1.5deg) rotateX(2deg);
  }
  &:nth-child(5) {
    transform: rotateY(3deg) rotateX(2deg);
  }
}

.mobile-divider {
  display: none;
}

@media only screen and (max-width: 1000px) {
  #title {
    font-size: 6rem;
  }
}

@media only screen and (max-width: 768px) {
  #social {
    flex-wrap: wrap;
  }
  .mobile-divider {
    display: block;
    clear: both;
    height: 1px;
    width: 80vw;
  }
  #title {
    font-size: 12vw;
    font-weight: bold;
  }
  .social-card {
    &:nth-child(1) {
      transform: rotateY(-2deg) rotateX(2deg);
    }
    &:nth-child(2) {
      transform: rotateY(2deg) rotateX(2deg);
    }
    &:nth-child(4) {
      transform: rotateY(-2deg) rotateX(-2deg);
    }
    &:nth-child(5) {
      transform: rotateY(2deg) rotateX(-2deg);
    }
  }
}

@media only screen and (max-width: 350px) {
  #social {
    flex-wrap: wrap;
  }
  .mobile-divider {
    display: block;
    clear: both;
    height: 1px;
    width: 80vw;
  }
  #title {
    font-size: 12vw;
    font-weight: bold;
  }
  .social-card {
    &:nth-child(1), &:nth-child(2), &:nth-child(4), &:nth-child(5) {
      transform: none;
    }
    &:hover {
      box-shadow: 0 10px 80px rgba(0, 0, 0, .2);
      background: rgba(255, 255, 255, .7);
    }
  }
}
